:root {
  /*=== TYPOGRAPHY ===*/
  --TitleFontFamily: "Oswald", sans-serif;
  --ParagraphFontFamily: "Poppins", sans-serif;
  --H1FontSize: 5rem;
  --H2FontSize: 4rem;
  --H3FontSize: 3rem;
  --H4FontSize: 1.8rem;
  --PFontSize: 1.6rem;
  /*=== COLOR ===*/
  --PrimaryColor-Light: hsl(233, 66%, 48%);
  --PrimaryColor-Dark: hsl(233, 66%, 35%);
  --SecondaryColor-Light: hsl(237, 66%, 94%);
  --SecondaryColor-Dark: hsl(234, 61%, 79%);
  --WhiteColor-Light: hsl(0, 0%, 100%);
  --WhiteColor-Gray: hsl(0, 0%, 60%);
  --WhiteColor-Dark: hsl(0, 0%, 30%);
  --BlackColor: hsl(0, 0%, 17%);
  /*=== TRANSITION ===*/
  --TransitionDuration: 0.3s;
  --TransitionType: ease-in-out;
  /*=== WRAPPER ===*/
  --WrapperPaddingTopBottom: 10px;
  --WrapperPaddingLeftRight: 20px;
  --WrapperMaxWidth: 1200px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
  cursor: default;
}

body {
  font-size: var(--PFontSize);
  font-family: var(--ParagraphFontFamily);
  color: var(--BlackColor);
}

/*======================*/
/*======================*/
/*======================*/

h1,
h2,
h3,
h4 {
  font-family: var(--TitleFontFamily);
}

h1 {
  font-size: var(--H1FontSize);
}

h2 {
  font-size: var(--H2FontSize);
}

h3 {
  font-size: var(--H3FontSize);
}

h4 {
  font-size: var(--H4FontSize);
}

/*======================*/
/*======================*/
/*======================*/

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  font-weight: 500;
  transition: color var(--TransitionDuration) var(--TransitionType);
}

a:hover {
  color: var(--PrimaryColor-Light);
}

/*======================*/
/*======================*/
/*======================*/

button {
  font-family: inherit;
  font-size: inherit;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: background-color var(--TransitionDuration) var(--TransitionType);
}

input {
  font-family: inherit;
  font-size: inherit;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  resize: vertical;
}

select {
  font-family: inherit;
  font-size: inherit;
}

/*======================*/
/*======================*/
/*======================*/

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: var(--WrapperPaddingTopBottom) var(--WrapperPaddingLeftRight);
  max-width: var(--WrapperMaxWidth);
}

/*======================*/
/*======================*/
/*======================*/

.highlight {
  background: linear-gradient(
    120deg,
    var(--SecondaryColor-Dark) 0%,
    var(--SecondaryColor-Dark) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 7%;
  background-position: 0 90%;
  padding: 0px 8px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--PrimaryColor-Light) !important;
}

.owl-theme .owl-dots .owl-dot span {
  background: var(--SecondaryColor-Dark) !important;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok {
  color: var(--BlackColor) !important;
}

.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-cancel {
  color: var(--BlackColor) !important;
}

.alertify .ajs-footer .ajs-buttons .ajs-button:hover {
  color: var(--PrimaryColor-Light) !important;
}

#svg01 {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
}

#svg02 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-30%, -50%);
  width: 500px;
}

.ajs-message {
  background-color: var(--SecondaryColor-Light) !important;
  border-color: var(--SecondaryColor-Dark) !important;
  color: var(--PrimaryColor-Light) !important;
  border-radius: 5px !important;
}

.ajs-success {
  background-color: var(--PrimaryColor-Light) !important;
  border-color: var(--PrimaryColor-Dark) !important;
  color: var(--WhiteColor-Light) !important;
  border-radius: 5px !important;
}

.ajs-error {
  border-radius: 5px !important;
}

/*========================*/
/*=======__HEADER__=======*/
/*========================*/

#header {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  transition: background-color 0.8s, height 0.3s;
}

#header.hdsticky {
  position: fixed;
  background-color: var(--WhiteColor-Light);
  height: 65px;
  box-shadow: 0 0 3px rgb(0 0 0 / 50%);
}

.header {
  display: flex;
  align-items: center;
}

.header__logoFigure {
  display: flex;
  align-items: center;
  width: 200px;
}

.header__logoImg {
  width: 47.5px;
  height: 47.5px;
}

.header__navBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__navBox.openModal {
  height: 100%;
}

.header__navItem {
  margin-left: 30px;
}

.header__langSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 12px;
  border-radius: 5px;
  background-color: var(--PrimaryColor-Light);
  color: var(--WhiteColor-Light);
  margin-left: 25px;
  transition: background-color var(--TransitionDuration) var(--TransitionType);
}

.header__langSelect > i {
  color: var(--WhiteColor-Light);
  padding-left: 2px;
}

.header__langSelect:hover {
  background-color: var(--PrimaryColor-Dark);
}

.header__mobCloseButton {
  position: absolute;
  top: 20px;
  right: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 30px;
  background-color: var(--PrimaryColor-Light);
  color: var(--WhiteColor-Light);
  transition: background-color var(--TransitionDuration) var(--TransitionType);
}

.header__mobCloseButton:hover {
  background-color: var(--PrimaryColor-Dark);
}

.header__mobOpenButton {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 5px;
  border-radius: 5px;
  font-size: 2.5rem;
  background-color: var(--PrimaryColor-Light);
  color: var(--WhiteColor-Light);
  transition: background-color var(--TransitionDuration) var(--TransitionType);
}

.header__mobOpenButton:hover {
  background-color: var(--PrimaryColor-Dark);
}

/*===============================*/
/*=======__LANG_SWITCHER__=======*/
/*===============================*/

.langOverlay {
  display: none;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 20px;
}

.langOverlay.openModal {
  display: block;
}

.langContent {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  max-width: 400px;
  animation-name: animatetop;
  animation-duration: 0.3s;
  border-radius: 5px;
}

@keyframes animatetop {
  from {
    top: -800px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.langContent__title {
  text-align: center;
  font-weight: bold;
}

.langContent__flags {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.langContent__flagItem {
  display: flex;
  align-items: center;
  background-color: var(--PrimaryColor-Light);
  border-radius: 5px;
  margin: 0 10px;
  transition: background-color var(--TransitionDuration) var(--TransitionType);
}

.langContent__flagItem:hover {
  background-color: var(--PrimaryColor-Dark);
}

.langContent__flagItem > img {
  width: 40px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.langContent__flagItem > span {
  text-align: center;
  margin: 0 10px;
  color: var(--WhiteColor-Light);
}

.langContent__closeModal {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: var(--PrimaryColor-Light);
  color: var(--WhiteColor-Light);
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  transition: background-color var(--TransitionDuration) var(--TransitionType);
}

.langContent__closeModal:hover {
  background-color: var(--PrimaryColor-Dark);
}

/*======================*/
/*=======__MAIN__=======*/
/*======================*/

/*======_HERO_SECTION_======*/

.hero {
  background-color: var(--SecondaryColor-Light);
  position: relative;
}

.hero__container {
  display: flex;
  min-height: 600px;
  padding-top: 120px;
  padding-bottom: 165px;
}

.hero__box:nth-child(1) {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__box:nth-child(2) {
  width: 50%;
  border-radius: 5px;
}

.hero__subTitle {
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  color: var(--WhiteColor-Gray);
  letter-spacing: 0.2rem;
}

.hero__title {
  margin-top: -10px;
  letter-spacing: 0.1rem;
}

.hero__description {
  font-weight: bold;
  margin-top: 20px;
}

.hero__button {
  max-width: 160px;
  background-color: var(--PrimaryColor-Light);
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--WhiteColor-Light);
  font-size: 1.4rem;
  margin-top: 30px;
  transition: background-color var(--TransitionDuration) var(--TransitionType);
  letter-spacing: 0.1rem;
  border-radius: 5px;
}

.hero__button:hover {
  background-color: var(--PrimaryColor-Dark);
  color: var(--WhiteColor-Light);
}

.hero__figureBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__figureImg {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 450px;
  -webkit-animation: smoothMove 2s infinite alternate;
  animation: smoothMove 2s infinite alternate;
}

@-webkit-keyframes smoothMove {
  0% {
    transform: translateY(0) skew(0deg, 0deg);
  }
  100% {
    transform: translateY(-20px) skew(1deg, 0deg);
  }
}

@keyframes smoothMove {
  0% {
    transform: translateY(0) skew(0deg, 0deg);
  }
  100% {
    transform: translateY(-20px) skew(1deg, 0deg);
  }
}

/*======_ABOUT_SECTION_======*/

.about {
  background-color: var(--WhiteColor-Light);
}

.about__container {
  display: flex;
  padding-top: 100px;
  padding-bottom: 15px;
}

.about__box:nth-child(1) {
  width: 50%;
}

.about__box:nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about__figure {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.about__figureImg {
  width: 100%;
  max-width: 500px;
}

.about__article {
  position: relative;
  z-index: 1;
}

.about__title {
  margin-bottom: 20px;
  letter-spacing: 0.2rem;
}

.about__subTitle {
  /* font-weight: 500; */
  line-height: 24px;
  text-align: justify;
  color: var(--WhiteColor-Dark);
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.about__description {
  line-height: 24px;
  margin-bottom: 30px;
  text-align: justify;
  color: var(--WhiteColor-Dark);
  font-size: 1.5rem;
}

.about__button {
  padding: 10px 30px;
  background-color: var(--PrimaryColor-Light);
  color: var(--WhiteColor-Light);
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.4rem;
  transition: background-color var(--TransitionDuration) var(--TransitionType);
}

.about__button:hover {
  background-color: var(--PrimaryColor-Dark);
  color: var(--WhiteColor-Light);
}

/*======_SKILLS_SECTION_======*/

.skills {
  background-color: var(--WhiteColor-Light);
}

.skills__container {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 30px;
}

.skills__box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills__box:nth-child(2) {
  flex-direction: row;
  margin-top: 60px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skills__title {
  margin-bottom: 10px;
  letter-spacing: 0.2rem;
  text-align: center;
}

.skills__separatorImg {
  width: 130px;
  margin-bottom: 30px;
}

.skills__description {
  width: 100%;
  max-width: 750px;
  text-align: center;
  line-height: 28px;
  color: var(--WhiteColor-Dark);
  font-size: 1.5rem;
}

.skills__habilities {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0px 20px 0px;
  margin-bottom: 20px;
  background-color: var(--SecondaryColor-Light);
  border-radius: 5px;
  transition: background-color var(--TransitionDuration) var(--TransitionType);
}

.skills__habilities:hover {
  background-color: var(--SecondaryColor-Dark);
}

.skills__habilities:hover > .skills__habilityImg {
  width: 90px;
}

.skills__habilityImg {
  width: 80px;
  transition: width var(--TransitionDuration) var(--TransitionType);
}

.skills__habilityTitle {
  margin-top: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  color: var(--PrimaryColor-Light);
}

/*======_PORTFOLIO_SECTION_======*/

.portfolio {
  background-color: var(--WhiteColor-Light);
  background-image: url(../img/circle-background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 200px;
}

.portfolio__container {
  padding-top: 80px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio__subTitle {
  text-transform: uppercase;
  margin-top: 60px;
}

.portfolio__box {
  margin-top: 5px;
}

.portfolio__item {
  background-color: var(--SecondaryColor-Light);
  border-radius: 5px;
  box-shadow: 0px 0px 14px 2px rgb(128 128 128 / 25%);
  margin: 30px 10px;
  position: relative;
}

.portfolio__itemImgA {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.portfolio__itemImgA:hover .portfolio__itemImgIcon {
  opacity: 1;
}

.portfolio__itemImg {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.portfolio__itemImgIcon {
  background-color: #2a3dcb2d;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  transition: opacity var(--TransitionDuration) var(--TransitionType);
}

.portfolio__itemImgIcon > i {
  background-color: var(--PrimaryColor-Light);
  color: var(--WhiteColor-Light);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 5px;
}

.portfolio__itemCategory {
  position: absolute;
  top: 90%;
  left: 0;
  transform: translate(0, -90%);
  background-color: #2a3ccbbd;
  color: var(--WhiteColor-Light);
  font-size: 1.3rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 10px;
}

.portfolio__itemInfo {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 10px;
}

.portfolio__itemTitle {
  width: 65%;
  font-weight: bold;
  font-size: 1.5rem;
}

.portfolio__itemTechnology {
  width: 35%;
  display: flex;
  justify-content: flex-end;
}

.portfolio__itemTechnology > span {
  padding: 5px;
  background-color: var(--PrimaryColor-Light);
  color: var(--WhiteColor-Light);
  border-radius: 5px;
  font-size: 1.2rem;
}

.portfolio__itemDescription {
  line-height: 22px;
  font-size: 1.5rem;
  color: var(--WhiteColor-Dark);
  padding: 0px 10px;
  text-align: justify;
}

.portfolio__itemButton {
  margin: 10px 10px 20px 10px;
  display: inline-block;
  text-align: center;
}

/*======_SERVICES_SECTION_======*/

.services {
  background-color: var(--WhiteColor-Light);
}

.services__container {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 40px;
}

.services__title {
  margin-bottom: 10px;
  letter-spacing: 0.2rem;
}

.services__separatorImg {
  width: 130px;
  margin-bottom: 30px;
}

.services__description {
  width: 100%;
  max-width: 600px;
  text-align: justify;
  margin-bottom: 50px;
  color: var(--WhiteColor-Dark);
  line-height: 28px;
  font-size: 1.5rem;
}

/* .services__box {
    -webkit-animation: smoothMove 2s infinite  alternate;
    animation: smoothMove 2s infinite  alternate;
} */

.services__item {
  background-color: var(--PrimaryColor-Light);
  padding: 20px 20px 40px 20px;
  margin: 20px 0px;
  border-radius: 5px;
  height: 100%;
  min-height: 200px;
  position: relative;
}

.services__itemTitle {
  text-transform: uppercase;
  color: var(--WhiteColor-Light);
  margin-bottom: 15px;
  letter-spacing: 0.2rem;
}

.services__itemDescription {
  color: var(--WhiteColor-Light);
  line-height: 28px;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.services__itemButton {
  color: var(--WhiteColor-Light);
  letter-spacing: 0.2rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.services__itemButton:hover {
  color: var(--SecondaryColor-Light);
}

/*======_CONTACT_SECTION_======*/

.contact {
  background-color: var(--WhiteColor-Light);
  padding: 80px 0px 80px 0px;
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__box {
  display: flex;
  width: 100%;
}

.contact__socialMedia {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.contact__socialMediaItem {
  background-color: var(--SecondaryColor-Light);
  margin: 0px 10px;
  width: 100%;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--SecondaryColor-Dark);
  /* box-shadow: 0px 0px 14px 2px rgb(128 128 128 / 25%); */
}

.contact__socialMediaItem > i {
  color: var(--PrimaryColor-Light);
  font-size: 3rem;
  margin-bottom: 5px;
}

.contact__form {
  width: 100%;
  max-width: 700px;
  margin: 30px auto 0px auto;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.contact__formNameEmail {
  display: flex;
}

.contact__formNameLabel {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 0px;
  font-weight: bold;
}

.contact__formNameLabel > input {
  width: 100%;
  margin-top: 5px;
  outline: none;
  border: 2px solid var(--SecondaryColor-Dark);
  border-radius: 5px;
  background-color: var(--SecondaryColor-Light);
  transition: border var(--TransitionDuration),
    background-image var(--TransitionDuration) var(--TransitionType);
  background-image: url("../img/form-icons/user-line-light.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 42px;
}

.contact__formNameLabel > input:focus {
  border: 2px solid var(--PrimaryColor-Light);
  background-image: url("../img/form-icons/user-line-dark.svg");
}

.contact__formNameLabel > input::placeholder {
  color: hsl(237, 69%, 85%);
}

.contact__formEmailLabel {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.contact__formEmailLabel > input {
  width: 100%;
  margin-top: 5px;
  outline: none;
  border: 2px solid var(--SecondaryColor-Dark);
  border-radius: 5px;
  background-color: var(--SecondaryColor-Light);
  transition: border var(--TransitionDuration),
    background-image var(--TransitionDuration) var(--TransitionType);
  background-image: url("../img/form-icons/mail-line-light.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 10px 10px 10px 42px;
}

.contact__formEmailLabel > input:focus {
  border: 2px solid var(--PrimaryColor-Light);
  background-image: url("../img/form-icons/mail-line-dark.svg");
}

.contact__formEmailLabel > input::placeholder {
  color: hsl(237, 69%, 85%);
}

.contact__formMsgLabel {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-weight: bold;
}

.contact__formMsgLabel > textarea {
  margin-top: 5px;
  padding: 5px 10px;
  outline: none;
  border: 2px solid var(--SecondaryColor-Dark);
  border-radius: 5px;
  background-color: var(--SecondaryColor-Light);
  transition: border var(--TransitionDuration) var(--TransitionType);
}

.contact__formMsgLabel > textarea:focus {
  border: 2px solid var(--PrimaryColor-Light);
}

.contact__formMsgLabel > textarea::placeholder {
  color: hsl(237, 69%, 85%);
}

.contact__formSubmitButton {
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 30px;
  outline: none;
  border: 0;
  cursor: pointer;
  background-color: var(--PrimaryColor-Light);
  color: var(--WhiteColor-Light);
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
  transition: background-color var(--TransitionDuration) var(--TransitionType);
}

.contact__formSubmitButton:hover {
  background-color: var(--PrimaryColor-Dark);
}

/*========================*/
/*=======__FOOTER__=======*/
/*========================*/

.footer__top {
  background-color: var(--SecondaryColor-Light);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
}

.footer__topLinks {
  display: flex;
  justify-content: center;
}

.footer__topLinkItem {
  font-size: 1.4rem;
  text-align: center;
}

.footer__topLinkItemSeparator {
  margin: 0px 10px;
}

.footer__bottom {
  background-color: var(--SecondaryColor-Dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__bottomText {
  font-size: 1.4rem;
  color: hsl(234, 46%, 46%);
  text-align: center;
}

/*===============================*/
/*=======__MEDIA_QUERIES__=======*/
/*===============================*/

@media only screen and (max-width: 950px) {
  /*===_HEADER_===*/

  .header__logoFigure {
    width: calc(100% - 50px);
  }

  .header__navBox {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    z-index: 20;
    justify-content: center;
    background-color: #e6e7fadb;
    backdrop-filter: blur(4px);
    height: 0%;
    box-shadow: 0 0 3px rgb(0 0 0 / 50%);
    transition: height var(--TransitionDuration) var(--TransitionType);
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .header__navItem {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
    transition: transform 0.2s var(--TransitionType);
  }

  .header__navItem:hover {
    transform: scale(1.1);
  }

  .header__langSelect {
    margin-left: 0;
  }

  .header__mobOpenButton {
    display: flex;
    width: 50px;
  }

  .header__mobCloseButton {
    display: flex;
  }

  /*===_HERO_SECTION_===*/

  .hero__container {
    flex-direction: column;
  }

  .hero__box:nth-child(1) {
    width: 100%;
    padding: 0px 0px 50px 0px;
    align-items: center;
  }

  .hero__box:nth-child(2) {
    width: 100%;
  }

  .hero__figureImg {
    padding-top: 50px;
  }

  .hero__title {
    text-align: center;
  }

  .hero__description {
    text-align: center;
  }

  /*===_ABOUT_SECTION_===*/

  .about__container {
    flex-direction: column;
  }

  .about__box:nth-child(1) {
    width: 100%;
    order: 2;
    margin-top: 80px;
  }

  .about__box:nth-child(2) {
    width: 100%;
  }

  #svg02 {
    display: none;
  }

  .about__figure {
    justify-content: center;
  }

  .about__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about__description {
    max-width: 650px;
  }

  /* .about__subTitle {
    text-align: center;
  } */
}

@media only screen and (max-width: 550px) {
  /*===_HEADER_===*/

  .header__navItem {
    font-size: 20px;
  }

  /*===_SKILLS_SECTION_===*/

  .skills__habilities {
    width: 45%;
  }

  /*===_CONTACT_SECTION_===*/

  .contact__formNameEmail {
    flex-direction: column;
  }

  .contact__formNameLabel {
    width: 100%;
    padding: 0;
  }

  .contact__formEmailLabel {
    width: 100%;
    margin-top: 15px;
  }
}
